@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

main {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    transition: all .3s;
}

span {
    color: rgb(105, 105, 105);
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid #000;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    transition: all .3s;
}

footer {
    font-size: 20px;
    text-align: center;
    font-weight: 450;
    margin: 0 4%;
    transition: all .3s;
}

@media (max-width: 560px) {
    footer {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    footer {
        font-size: 11px;
    }
}

@media (max-width: 390px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 14px;
    }
}